<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user"></ion-back-button>
    </ion-buttons>
    <ion-title>Register by Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #registerForm="ngForm" (ngSubmit)="registerUser()">
    <ion-input
      label="First Name"
      labelPlacement="floating"
      type="text"
      name="firstName"
      required
      [(ngModel)]="user.firstName"
    ></ion-input>
    <ion-input
      label="Last Name"
      labelPlacement="floating"
      type="text"
      name="lastName"
      required
      [(ngModel)]="user.lastName"
    ></ion-input>
    <ion-input
      label="Email Address"
      labelPlacement="floating"
      type="email"
      name="email"
      required
      [(ngModel)]="user.email"
    ></ion-input>
    <ion-input
      label="Password"
      labelPlacement="floating"
      type="password"
      name="password"
      required
      [(ngModel)]="user.password"
    ></ion-input>
    <ion-input
      label="Confirm Password"
      labelPlacement="floating"
      type="password"
      name="confirmPassword"
      required
      ngValidateEqual="password"
      [(ngModel)]="user.confirmPassword"
    ></ion-input>
    <ion-button type="submit" expand="block" [disabled]="registerForm.invalid"
      >Register</ion-button
    >
  </form>
</ion-content>
