<article class="ion-padding">
  User-provided Organ Arrangement
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button aria-label="Upvote">
        <ion-icon
          name="caret-up-circle-outline"
          slot="icon-only"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-badge>{{ arrangement().score }}</ion-badge>
    <ion-buttons slot="end">
      <ion-button aria-label="Downvote">
        <ion-icon
          name="caret-down-circle-outline"
          slot="icon-only"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</article>
