<article>
  <ion-list>
    <ion-list-header class="ion-padding-horizontal">
      <ion-label class="ion-text-center"
        >Uploaded by {{ arrangement().author }}</ion-label
      >
    </ion-list-header>
    <ion-item>
      <ion-button
        slot="start"
        fill="clear"
        size="large"
        [ariaLabel]="upvoteOptions().label"
        (click)="upvote()"
      >
        <ion-icon
          [name]="upvoteOptions().icon"
          [color]="upvoteOptions().color"
          slot="icon-only"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
      <ion-badge>{{ arrangement().score }}</ion-badge>
      <ion-button
        slot="end"
        fill="clear"
        size="large"
        [ariaLabel]="downvoteOptions().label"
        (click)="downvote()"
      >
        <ion-icon
          [name]="downvoteOptions().icon"
          [color]="downvoteOptions().color"
          slot="icon-only"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</article>
