<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Edit Stops</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="save()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Edit Stops</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    @for (group of stops | keyvalue; track group.key) {
      <ion-item-group>
        <ion-item-divider>
          <ion-label>{{ group.key }}</ion-label>
        </ion-item-divider>

        @for (stop of group.value; track stop) {
          <ion-item>
            <ion-toggle [enableOnOffLabels]="true">{{ stop }}</ion-toggle>
          </ion-item>
        }

        <ion-item>
          <ion-input [name]="group.key + '-new-stop'" placeholder="Stop Name" #newStop>
            <ion-button fill="clear" slot="end" aria-label="Add custom stop" (click)="addStop(group.value, newStop.value)">
              <ion-icon slot="icon-only" name="add-circle" aria-hidden></ion-icon>
            </ion-button>
          </ion-input>
        </ion-item>
      </ion-item-group>
    }
  </ion-list>
</ion-content>
