<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="parentRoutePath()"></ion-back-button>
    </ion-buttons>
    <ion-title>Song Title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Song Title</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button id="create-arrangement" expand="block">Create Arrangement</ion-button>

  <ion-accordion-group>
    @for (arrangement of arrangements(); track arrangement.id) {
    <ion-accordion>
      <ion-item slot="header">
        <ion-badge slot="start" color="secondary">{{ arrangement.score }}</ion-badge>
        <ion-label>{{ arrangement.author }}</ion-label>
      </ion-item>
      <app-arrangement
        slot="content"
        [arrangement]="arrangement"
        (userVoted)="updateUserScore(arrangement, $index, $event)"
      ></app-arrangement>
    </ion-accordion>
    }
  </ion-accordion-group>

  <ion-modal trigger="create-arrangement" (didDismiss)="updateStops($event)" aria-label="Edit Stops">
    <ng-template>
      <app-edit-stops></app-edit-stops>
    </ng-template>
  </ion-modal>
</ion-content>
