<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/books"></ion-back-button>
    </ion-buttons>
    <ion-title>Song Title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Song Title</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-accordion-group>
    @for (arrangement of arrangements; track arrangement.id) {
    <ion-accordion>
      <ion-item slot="header">
        <ion-badge slot="start">{{ arrangement.score }}</ion-badge>
        <ion-label>{{ arrangement.author }}</ion-label>
      </ion-item>
      <article slot="content" class="ion-padding">
        User-provided Organ Arrangement
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button aria-label="Upvote">
              <ion-icon
                name="caret-up-circle-outline"
                slot="icon-only"
                aria-hidden="true"
              ></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-badge>{{ arrangement.score }}</ion-badge>
          <ion-buttons slot="end">
            <ion-button aria-label="Downvote">
              <ion-icon
                name="caret-down-circle-outline"
                slot="icon-only"
                aria-hidden="true"
              ></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </article>
    </ion-accordion>
    }
  </ion-accordion-group>
</ion-content>
