<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/books"></ion-back-button>
    </ion-buttons>
    <ion-title>Song Title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Song Title</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-accordion-group>
    @for (arrangement of arrangements(); track arrangement.id) {
    <ion-accordion>
      <ion-item slot="header">
        <ion-badge slot="start">{{ arrangement.score }}</ion-badge>
        <ion-label>{{ arrangement.author }}</ion-label>
      </ion-item>
      <app-arrangement
        slot="content"
        [arrangement]="arrangement"
        (userVoted)="updateUserScore(arrangement, $event)"
      ></app-arrangement>
    </ion-accordion>
    }
  </ion-accordion-group>
</ion-content>
